<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.faroz.mapper.TeamMapper">
  <resultMap id="BaseResultMap" type="top.faroz.pojo.Team">
    <id column="teamId" jdbcType="INTEGER" property="teamid" />
    <result column="teamName" jdbcType="VARCHAR" property="teamname" />
    <result column="chineseName" jdbcType="VARCHAR" property="chinesename" />
    <result column="coach" jdbcType="VARCHAR" property="coach" />
    <result column="stadium" jdbcType="VARCHAR" property="stadium" />
    <result column="location" jdbcType="VARCHAR" property="location" />
    <result column="createTime" jdbcType="DATE" property="createtime" />
    <result column="teamLogo" jdbcType="VARCHAR" property="teamlogo" />
    <result column="area" jdbcType="INTEGER" property="area" />
    <result column="isDel" jdbcType="INTEGER" property="isdel" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    teamId, teamName, chineseName, coach, stadium, location, createTime, teamLogo, area, 
    isDel
  </sql>
  <select id="selectByExample" parameterType="top.faroz.pojo.TeamExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from team
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from team
    where teamId = #{teamid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from team
    where teamId = #{teamid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="top.faroz.pojo.TeamExample">
    delete from team
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="top.faroz.pojo.Team">
    insert into team (teamId, teamName, chineseName, 
      coach, stadium, location, 
      createTime, teamLogo, area, 
      isDel)
    values (#{teamid,jdbcType=INTEGER}, #{teamname,jdbcType=VARCHAR}, #{chinesename,jdbcType=VARCHAR}, 
      #{coach,jdbcType=VARCHAR}, #{stadium,jdbcType=VARCHAR}, #{location,jdbcType=VARCHAR}, 
      #{createtime,jdbcType=DATE}, #{teamlogo,jdbcType=VARCHAR}, #{area,jdbcType=INTEGER}, 
      #{isdel,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="top.faroz.pojo.Team">
    insert into team
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="teamid != null">
        teamId,
      </if>
      <if test="teamname != null">
        teamName,
      </if>
      <if test="chinesename != null">
        chineseName,
      </if>
      <if test="coach != null">
        coach,
      </if>
      <if test="stadium != null">
        stadium,
      </if>
      <if test="location != null">
        location,
      </if>
      <if test="createtime != null">
        createTime,
      </if>
      <if test="teamlogo != null">
        teamLogo,
      </if>
      <if test="area != null">
        area,
      </if>
      <if test="isdel != null">
        isDel,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="teamid != null">
        #{teamid,jdbcType=INTEGER},
      </if>
      <if test="teamname != null">
        #{teamname,jdbcType=VARCHAR},
      </if>
      <if test="chinesename != null">
        #{chinesename,jdbcType=VARCHAR},
      </if>
      <if test="coach != null">
        #{coach,jdbcType=VARCHAR},
      </if>
      <if test="stadium != null">
        #{stadium,jdbcType=VARCHAR},
      </if>
      <if test="location != null">
        #{location,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null">
        #{createtime,jdbcType=DATE},
      </if>
      <if test="teamlogo != null">
        #{teamlogo,jdbcType=VARCHAR},
      </if>
      <if test="area != null">
        #{area,jdbcType=INTEGER},
      </if>
      <if test="isdel != null">
        #{isdel,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="top.faroz.pojo.TeamExample" resultType="java.lang.Long">
    select count(*) from team
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update team
    <set>
      <if test="record.teamid != null">
        teamId = #{record.teamid,jdbcType=INTEGER},
      </if>
      <if test="record.teamname != null">
        teamName = #{record.teamname,jdbcType=VARCHAR},
      </if>
      <if test="record.chinesename != null">
        chineseName = #{record.chinesename,jdbcType=VARCHAR},
      </if>
      <if test="record.coach != null">
        coach = #{record.coach,jdbcType=VARCHAR},
      </if>
      <if test="record.stadium != null">
        stadium = #{record.stadium,jdbcType=VARCHAR},
      </if>
      <if test="record.location != null">
        location = #{record.location,jdbcType=VARCHAR},
      </if>
      <if test="record.createtime != null">
        createTime = #{record.createtime,jdbcType=DATE},
      </if>
      <if test="record.teamlogo != null">
        teamLogo = #{record.teamlogo,jdbcType=VARCHAR},
      </if>
      <if test="record.area != null">
        area = #{record.area,jdbcType=INTEGER},
      </if>
      <if test="record.isdel != null">
        isDel = #{record.isdel,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update team
    set teamId = #{record.teamid,jdbcType=INTEGER},
      teamName = #{record.teamname,jdbcType=VARCHAR},
      chineseName = #{record.chinesename,jdbcType=VARCHAR},
      coach = #{record.coach,jdbcType=VARCHAR},
      stadium = #{record.stadium,jdbcType=VARCHAR},
      location = #{record.location,jdbcType=VARCHAR},
      createTime = #{record.createtime,jdbcType=DATE},
      teamLogo = #{record.teamlogo,jdbcType=VARCHAR},
      area = #{record.area,jdbcType=INTEGER},
      isDel = #{record.isdel,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="top.faroz.pojo.Team">
    update team
    <set>
      <if test="teamname != null">
        teamName = #{teamname,jdbcType=VARCHAR},
      </if>
      <if test="chinesename != null">
        chineseName = #{chinesename,jdbcType=VARCHAR},
      </if>
      <if test="coach != null">
        coach = #{coach,jdbcType=VARCHAR},
      </if>
      <if test="stadium != null">
        stadium = #{stadium,jdbcType=VARCHAR},
      </if>
      <if test="location != null">
        location = #{location,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null">
        createTime = #{createtime,jdbcType=DATE},
      </if>
      <if test="teamlogo != null">
        teamLogo = #{teamlogo,jdbcType=VARCHAR},
      </if>
      <if test="area != null">
        area = #{area,jdbcType=INTEGER},
      </if>
      <if test="isdel != null">
        isDel = #{isdel,jdbcType=INTEGER},
      </if>
    </set>
    where teamId = #{teamid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="top.faroz.pojo.Team">
    update team
    set teamName = #{teamname,jdbcType=VARCHAR},
      chineseName = #{chinesename,jdbcType=VARCHAR},
      coach = #{coach,jdbcType=VARCHAR},
      stadium = #{stadium,jdbcType=VARCHAR},
      location = #{location,jdbcType=VARCHAR},
      createTime = #{createtime,jdbcType=DATE},
      teamLogo = #{teamlogo,jdbcType=VARCHAR},
      area = #{area,jdbcType=INTEGER},
      isDel = #{isdel,jdbcType=INTEGER}
    where teamId = #{teamid,jdbcType=INTEGER}
  </update>
</mapper>